<div class="banner_image" style="background-image">

  <div class="container">
    <div class="columns sixteen blog_content">
      <h2 class="banner_title"><%= link_to blog_entry.title, blog_entry_permalink(blog_entry) %></h2>

      <div class="blog_entry_summary">
        <%== blog_entry.entry_summary %>
        <span class="blog_read_more"><%= link_to Spree.t(:blog_read_more), blog_entry_permalink(blog_entry) %></span>
      </div>
    </div>
  </div>
</div>
